.star-color {
    color: red;
}

#webhook_parent_div {
    display: flex;
}

#webhook-uri-button {
    min-width: 160px;
}

#input-class {
    border-style: solid;
    border-color: black;
}

input[type=text]:focus {
    border: 1px solid black;
}

input[type=number]:focus {
    border: 1px solid black;
}

#textarea:focus {
    border: 1px solid black;
}
